@{
    ViewData["Title"] = "GeoEspectro";
}

<div class="container text-center mt-5">
    <h1 class="display-3 mb-4">GeoEspectro</h1>

    <form method="get" action="/Home/Index" class="d-flex justify-content-center mb-5">
        <input name="q" class="form-control w-50" type="search" placeholder="Pesquisar..." aria-label="Pesquisar">
        <button class="btn btn-primary ms-2" type="submit">Pesquisar</button>
    </form>

    <div class="d-flex justify-content-center mb-5">
        <select class="form-select w-25" onchange="location = this.value;">
            <option selected disabled>Filtrar por categoria</option>
            <option value="/Home/Index?categoria=Geologia">Geologia</option>
            <option value="/Home/Index?categoria=Dinossauros">Dinossauros</option>
            <option value="/Home/Index?categoria=Descobrimentos">Descobrimentos</option>
            <option value="/Home/Index?categoria=Fosseis">Fósseis</option>
            <option value="/Home/Index?categoria=Plantas">Plantas</option>
        </select>
    </div>

</div>